<header>
    <div id="header-left">
      <div id="logo">Acesoftech Academy</div>
      <div id="slogan">Advanced Software training</div>
    </div>
    <div id="header-right">
      <div>
        <div id="phone-icon"><img src="assets/images/phone.png" height="30" width="30"></div>	
        <div id="phone">8583959528</div>
      </div>	

      <div>
        <div class="social-icons"><img src="assets/images/facebook.png"></div>
        <div class="social-icons"><img src="assets/images/twitter.png"></div>
        <div class="social-icons"><img src="assets/images/youtube.png"></div>

      </div>
    </div>
  </header>
