<div id="center">
  
    <div><h1>Welcome to Acesoftech Academy</h1></div>
    <div>
      <img src="assets/images/phone.png" class="center-image">
      Color codes are ways of representing the colors we see everyday in a format that a computer can interpret and display. Commonly used in websites and other software applications, there are a variety of formats, including Hex color codes, RGB and HSL values, and HTML color names, amongst others.Color codes are ways of representing the colors we see everyday in a format that a computer can interpret and display. Commonly used in websites and other software applications, there are a variety of formats, including Hex color codes, RGB and HSL values, and HTML color names, amongst others.
    </div>

    <div class="center-box"><img src="assets/images/facebook.png"></div>
    <div class="center-box"><img src="assets/images/twitter.png"></div>
    <div class="center-box"><img src="assets/images/youtube.png"></div>
</div>
